import("partykit")
import("EMP")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "model.weights", "runif")

useDynLib(proftree, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

export(proftree)
export(proftree.control)